body{
    font-family: 'Poppins', sans-serif;
    
}

.container{
    max-width: 1200px;
}

.im{
    height: 55px;
}

.first-sc{
    background-color: #4741AF;
}

.brand{
    font-size: 45px;
    font-weight: 700;
    color: white;
}

.navit{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.bar-icon{
    margin: 4px;
    color: white;
    cursor:pointer
}

.banner-text{
    font-size: 72px;
    color: white;
    font-weight: 700;
}

.banner-p{
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.banner-btn{
    text-decoration: none;
    background-color: #6c63ff;
    font-size: 14px;
    padding: 8px 35px;
    border-radius: 60px;
    color: white;
}

.banner-btn:hover{
    background-color: white;
    color: #4741AF;
}

.img2{
    margin-left: -263px ;
}

.about{
    color: #6C63FF;
    font-size: 25px;
    font-weight: 700;
    margin-top: 56px;
}

.about-head{
    font-weight: 700;
    font-size: 48px;
}

.about-link{
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.bag{
    background-color: #F3F9FB;
    border-radius: 500px;
    width: 500px;
    animation-name: immov;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.sc3h{
    font-size: 23px;
    font-weight: 700;
}

.sc3icon{
    background-color: #4741AF;
    color: white;
    border-radius: 60px;
    padding: 8px;
}


@keyframes mo {
    to {
        transform: translateX(30px);
    }
}

.move:hover .sc3icon{
    animation-name: mo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes immov {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(18px);
    }
    75%{
        transform: translateY(-18px);
    }
    100%{
        transform: translateY(0px);
    }
}


.ico{
    font-size: 30px;
    color:#6C63FF;
}

.whyus{
    background-color: #F3F9FB;
}

.card-p{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    
}

.card-a{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.card-text{
    text-align: center;
    font-size: 17px;
    
}

.card-img{
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.card-h{
    border-bottom: #6C63FF solid;
    padding: 12px;
    margin: 16px;
    transition: all .7s;
}

.card-h:hover {
    margin-top: -10px;
    box-shadow: 0px 3px 30px 3px rgb(7 7 7 / 7%);
}

.inpu{
    background-color: #F3F9FB;
    border: none;
    margin-top: 32px;
    height: 56px;
    width: 256px;
    padding: 20px;
}

.textarea{
    background-color: #F3F9FB;
    border: none;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.blog-link{
    text-decoration: none;
    color: black;
    font-weight: 700;
    align-items: center;
    display: flex;
    padding: 20px;
}

.blog-link:hover{
    color: #6C63FF;
}

.blog-card p{
    color: #b4c4ce;
    font-weight: 700;
}

.blog-img{
    width: -webkit-fill-available;
    transition: all .7s;
}

.blog-card{
    overflow: hidden;
}

.blog-card:hover .blog-img{
    transform: scale(1.1);
}

.last-p{
    font-size: 17px;
    font-weight: 500;
}

.last-a{
    font-size: 17px;
    text-decoration: none;
    font-weight: 800;
    color: black;
    margin-left: -16px;
}

.last-a:hover{
    color: #6C63FF;
}

.face-ic{
    font-size: 25px;
    color: #3b5998;
}

.go-ic{
    font-size: 25px;
    color: #dd4b39;;
}

.tw-ic{
    font-size: 25px;
    color: #1DA1F2;
}

.li-ic{
    font-size: 25px;
    color: #0077b5;;
}